cftime==1.6.3
geopandas==0.14.4
google_api_python_client==2.133.0
matplotlib==3.9.1
netCDF4==1.6.5
numpy==1.26.4
pandas==2.2.2
protobuf==5.27.2
rasterio==1.3.10
Shapely==2.0.5
tqdm==4.66.2
xarray==2024.6.0
rioxarray==0.15.7
